UnitTestProject/obj
UnitTestProject/FakesAssemblies/
UnitTestProject/FakesAssemblies/*.dll

UnitTestProject/bin
ConsoleAppTest/obj
ConsoleAppTest/bin
ConsoleApp/obj
ConsoleApp/bin
packages/
TestResults/
.vs/
*.dll 